html {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  font-family: 'Vast Shadow', cursive;
  color: white;
}

*, *:before, *:after {
  box-sizing:inherit;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

h1 {
  margin: 0;
  font-size: 50px;
  margin-top: 20px;
}

.navBar {
  background: #00293C;
  height: 70px;
  line-height: 70px;
}

.navBar a:hover {
  padding-bottom: 17px;
  border-bottom: 3px solid white;
}

.home {
  width: 100%;
  height: 675px;
  background: #68829E;
  font-family: 'Syncopate', sans-serif;
  text-align: center;
  padding-top: 40px;
}

.myImg {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  margin-bottom: 15px;
  margin-top: 20px;
}

.socialFoot {
  width: 100%;
  height: auto;
  background: #00293C;
}

.socialFoot li {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.socialFoot a {
  font-size: 40px;
}

.formDiv {
  width: 50%;
  height: 590px;
  margin: auto;
  font-size: 14px;
  font-family: 'Syncopate', sans-serif;
}

form {
  margin-top: 80px;
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-top: 5px;
  width: 560px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 12px;
  font-family: 'Syncopate', sans-serif;
  outline: none;
}

label {
  margin-top: 10px;
  color: black;
}

textarea {
  width: 560px;
  height: 200px;
  border: 1px solid gray;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 10px;
  outline: none;
  font-size: 14px;
  font-family: 'Syncopate', sans-serif;
}

.subBtn {
  width: 80px;
  height: 40px;
  font-size: 12px;
  border: 1px solid black;
  background-color: black;
  color: white;
  padding: 0;
  font-family: 'Syncopate', sans-serif;
}