html {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background: #68829E;
  font-family: 'Vast Shadow', cursive;
  color: white;
}

*, *:before, *:after {
  box-sizing:inherit;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
/*  display: flex;
  justify-content: space-around;*/
}

h1 {
  margin: 0;
  font-size: 50px;
  margin-top: 20px;
}

.navBar {
  background: #00293C;
  height: 70px;
  line-height: 70px;
  display: flex;
  justify-content: space-around;
}

.navBar a:hover {
  padding-bottom: 17px;
  border-bottom: 3px solid white;
}

.home {
  width: 100%;
  height: 675px;
  background: #68829E;
  font-family: 'Syncopate', sans-serif;
  text-align: center;
  padding-top: 40px;
}

.myImg {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  margin-bottom: 15px;
  margin-top: 20px;
}

.socialFoot {
  width: 100%;
  height: auto;
  background: #00293C;
  display: flex;
  justify-content: space-around;
}

.socialFoot li {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.socialFoot a {
  font-size: 40px;
}

.formDiv {
  width: 40%;
  margin: auto;
  font-size: 14px;
  font-family: 'Syncopate', sans-serif;
  font-weight: bold;
}

.contact {
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
}

form {
  margin-top: 32px;
  margin-bottom: 30px;
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-top: 5px;
  width: 560px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 12px;
  font-family: 'Syncopate', sans-serif;
  outline: none;
}

label {
  margin-top: 10px;
}

textarea {
  width: 560px;
  height: 200px;
  border: 1px solid gray;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 10px;
  outline: none;
  font-size: 14px;
  font-family: 'Syncopate', sans-serif;
}

.subBtn {
  width: 80px;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  border: 1px solid #00293C;
  background-color: #00293C;
  color: white;
  padding: 0;
  font-family: 'Syncopate', sans-serif;
}

.subBtn:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.number {
  font-size: 14px;
}

.projectsDiv {
  width: 98%;
  margin: auto;
  font-family: 'Syncopate', sans-serif;
}

.projectsDiv img {
  width: 320px;
  height: 280px;
  margin-top: 10px;
  margin-left: 5px;
  border-radius: 5px;
}

.projectsDiv li {
  width: 700px;
  height: 300px;
  border: 1px solid white;
  border-radius: 5px;
}

.projects {
  margin: 15px 0 15px 0;
}

.projOne {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

.projInfo {
  width: 330px;
  margin-left: 5px;
  float: right;
}

.projInfo p {
  font-weight: bold;
}

.projInfo a {
  font-size: 14px;
}

.projInfo a:hover {
  text-decoration: underline;
}

.projTwo {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

.mainDiv {
  width: 98%;
  margin: auto;
  font-family: 'Syncopate', sans-serif;
  display: flex;
  justify-content: space-between;
}

.eduDiv {
  height: 250px;
}

.mainDiv p {
  margin-top: 30px;
  margin-left: 20px;
}

.mainDiv span {
  margin-top: 10px;
  margin-left: 20px;
}

.expDiv {
  height: 380px;
}

.resume:hover {
  text-decoration: underline;
  cursor: pointer;
}
